.mainContainer {
	display: block;
}
.mainContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.contentDiv {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.iconContainer {
	border-radius: 2rem;
	box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
	position: absolute !important;
}
.iconInner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconOutter {
	position: relative;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	line-height: 0.7;
	background-color: #2c2d30;
	width: 3.3rem;
	height: 3.3rem;
}
.title {
	margin-top: 40px;
	text-align: center;
	font-weight: 600;
	font-size: 0.9375rem;
	color: #fafafa;
}
.center {
	text-align: center;
	position: relative;
}
.serviceIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	margin-bottom: 0 !important;
	margin-top: 10px;
	font-size: 0.9375rem;
	color: #fafafa;
	margin-left: 10px;
	text-align: center !important;
	line-height: 1.7;
	letter-spacing: 0.02rem;
}
.lineContent {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
