.mainContainer {
	padding: 40px;
	display: block;
	box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
	border-radius: 2rem;
	min-height: 150vh;
}
.workContainer {
	display: block;
}
.workContent {
	font-weight: 700;
	text-transform: uppercase !important;
	color: #fafafa;
	margin-bottom: 0.4rem !important;
}
.skillContainer {
	margin-top: 50px;
}
